<!DOCTYPE html>


<html>
  <head>
    <title>NinetynineCats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <% if !current_user.nil? %>
    <h5>
      <p>Logged in as: <%= current_user.user_name %></p>
      <p>
        <form action="<%= session_url %>" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" value="delete" name="_method">
          <input type="submit" value="Logout">
        </form>
      </p>
    </h5>
  <% else %>
    <h5>
      <p>
        <form action="<%= new_session_url %>" method="GET">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" value="new" name="_method">
          <input type="submit" value="User Login">
        </form>
      </p>
      <p>
        <form action="<%= new_user_url %>" method="GET">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" value="new" name="_method">
          <input type="submit" value="New User">
        </form>
      </p>
    </h5>
  <% end %>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    This is our 99 Cats site. Please feel free to browse!

    <%= yield :footer %>
  </footer>
</html>
